@model hr.Models.DepartmentVM.Edit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" id="editForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nama_Department" class="control-label">Nama Department</label>
                @Html.TextBoxFor(x => x.Nama_Department, new { @class = "form-control" })
                <span asp-validation-for="Nama_Department" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Simpan Perubahan" class="btn btn-primary me-2" />
                <a asp-action="Index" class="btn btn-danger">Kembali</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $("#editForm").submit(function (e) {
                e.preventDefault();

                var form = $(this);

                $.ajax({
                    url: form.attr("action"),
                    type: "POST",
                    data: form.serialize(),

                    success: function (response) {
                        alert("Data berhasil diperbarui!");
                        window.location.href = "/Department/Index";
                    },
                    error: function (xhr) {
                        alert("Terjadi kesalahan: " + xhr.statusText);
                    }
                });
            });
        });
    </script>
}
