@model hr.Models.JabatanVM.Create

@{
    ViewData["Title"] = "Create Jabatan";
}

<h1>Create Jabatan</h1>

<h4>Detail Jabatan</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" id="createForm">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Nama_Jabatan" class="form-label"></label>
                @Html.EditorFor(model => model.Nama_Jabatan, new { htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="Nama_Jabatan" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Gaji_Pokok" class="form-label"></label>
                @Html.EditorFor(model => model.Gaji_Pokok, new { htmlAttributes = new { @class = "form-control", type = "number", step = "1000" } })
                <span asp-validation-for="Gaji_Pokok" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Simpan Data</button>
                <a asp-action="Index" class="btn btn-secondary ms-2">Kembali</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#createForm").on("submit", function (e) {
                e.preventDefault();

                var form = $(this);
                var errorDiv = $("#formError");
                if (!errorDiv.length) {
                    $("<div id='formError' class='alert alert-danger d-none'></div>").insertBefore(form.find(".form-group:first"));
                    errorDiv = $("#formError");
                }

                $.ajax({
                    url: form.attr("action"),
                    type: "POST",
                    data: form.serialize(),
                    success: function (response) {
                        alert("Data berhasil disimpan!");
                        window.location.href = "/Jabatan/Index";
                    },
                    error: function (xhr) {
                        errorDiv.removeClass("d-none").text("Terjadi kesalahan: " + xhr.statusText);
                    }
                });
            });
        });
    </script>
}
