@model hr.Models.JabatanVM.Details

@{
    ViewData["Title"] = "Details";
}

<h1>@(Model.Nama_Jabatan) Details</h1>
<hr />

<div>
    <div class="row mb-2">
        <div class="col-sm-3 fw-bold">Nama Jabatan</div>
        <div class="col-auto">:</div>
        <div class="col">
            @Model.Nama_Jabatan
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-3 fw-bold">Gaji Pokok</div>
        <div class="col-auto">:</div>
        <div class="col">
            @Model.Gaji_Pokok.ToString("C0", new System.Globalization.CultureInfo("id-ID"))
        </div>
    </div>

</div>

<div class="mt-3">
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    <a class="btn btn-danger" asp-action="Index">Kembali</a>
</div>
